<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host' => 'localhost',
                    'port' => '3306',
                    'user' => 'root',
                    'password' => '',
                    'dbname' => 'todo',
                    'charset' => 'utf8',
                    'driverOptions' => [
                        1002 => "SET NAMES 'UTF8'"
                    ],
                ]
            ],
        ],
    ],
    'service_manager' => [
        'factories' => [
            'mongo_client' => function () {
                //Change set up of the mongo client, if you need to configure connection settings
                return new \MongoClient();
            },
        ],
    ],
    'prooph' => [
        'event_store' => [
// uncomment one adapter
//            'adapter' => [
//                'type' => 'Prooph\\EventStore\\Adapter\\MongoDb\\MongoDbEventStoreAdapter',
//                'options' => [
//                    'db_name'            => 'todo',
//                    'mongo_connection_alias' => 'mongo_client',
//               ],
//            ],
//            'adapter' => [
//                'type' => 'Prooph\\EventStore\\Adapter\\Doctrine\\DoctrineEventStoreAdapter',
//                'options' => [
//                    'connection_alias' => 'doctrine.connection.orm_default',
//                ],
//            ],
        ]
    ],
];
