<?php
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOMySql\Driver',
                'params' => [
                    'host' => 'localhost',
                    'port' => '3306',
                    'user' => 'root',
                    'password' => '',
                    'dbname' => 'todo',
                    'charset' => 'utf8',
                    'driverOptions' => [
                        1002 => "SET NAMES 'UTF8'"
                    ],
                ]
            ],
        ],
    ],
    'proophessor' => [
        'event_store' => [
// uncomment one adapter
//            'adapter' => [
//                'type' => 'Prooph\\EventStore\\Adapter\\MongoDb\\MongoDbEventStoreAdapter',
//                'options' => [
//                    'db_name'            => 'todo'
//               ],
//            ],
//            'adapter' => [
//                'type' => 'Prooph\\EventStore\\Adapter\\Doctrine\\DoctrineEventStoreAdapter',
//                'options' => [
//                    'doctrine_connection_alias' => 'orm_default',
//                    'serializer_adapter' => 'json',
//                ],
//            ],
        ]
    ]
];
