<?php
/**
 * This file is part of prooph/proophessor-do.
 * (c) 2014-2016 prooph software GmbH <contact@prooph.de>
 * (c) 2015-2016 Sascha-Oliver Prolic <saschaprolic@googlemail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

declare(strict_types=1);

namespace Prooph\ProophessorDo;

/**
 * Local configuration overrides - make your adjustments here
 */
return [
    // dependencies settings
    'dependencies' => [
        'factories' => [
            \Prooph\EventSourcing\Snapshot\SnapshotStore::class => ['Prooph\PDO\SnapshotStore\Container\PDOSnapshotStoreFactory', 'default'],
        ],
    ],
    // prooph settings
    'prooph' => [
        'pdo_snapshot_store' => [
            'default' => [
                'connection_service' => 'pdo.connection',
            ],
        ],
        'event_sourcing' => [
            'aggregate_repository' => [
                'todo_list' => [
                    'snapshot_store' => \Prooph\EventSourcing\Snapshot\SnapshotStore::class,
                ],
                'user_collection' => [
                    'snapshot_store' => \Prooph\EventSourcing\Snapshot\SnapshotStore::class,
                ],
            ],
        ],
    ],
];
